.mainbox {
  background: rgba(0, 0, 0, 0.3215686275);
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 60px;
  width: 100%;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  table {
    border-spacing: 0px 5px;
    border-collapse: collapse;
    min-width: 1200px;
    width: 100% !important;

    thead {
      tr {
        td {
          padding: 20px 10px;

          div {
            font-weight: 500 !important;
          }
        }
      }
    }
    tbody {
      &:hover {
        tr {
          filter: blur(1.5px);
          transition: all 0.1s;
        }
      }
      tr {
        cursor: pointer;
        border-radius: 20px;
        background: rgba(20, 38, 131, 0.54);
        transition: all 0.1s;

        &:hover {
          background: rgba(53, 78, 202, 0.795);
          filter: blur(0px) !important;
        }

        &:first-child td:first-child {
          border-top-left-radius: 10px;
        }
        &:first-child td:last-child {
          border-top-right-radius: 10px;
        }

        &:last-child td:first-child {
          border-bottom-left-radius: 10px;
        }
        &:last-child td:last-child {
          border-bottom-right-radius: 10px;
        }

        td {
          padding: 20px 10px;

          img {
            max-width: 20px;
          }
        }
      }
    }
  }
}

.cointh {
  td {
    div {
      display: flex;
      justify-content: center;
    }
  }
  .rank {
    width: 60px;
  }
  .name {
    width: 200px;
  }
  .change {
    width: 100px;
  }
  .price {
    width: 150px;
  }
  .last {
    width: 120px;
  }
}

.coinRow {
  .green {
    background: rgb(0 128 0 / 19%);
  }
  .red {
    background: rgb(103 39 39 / 34%);
  }
  .lastprice {
    img {
      width: 70px;
      margin-left: 10px;
    }
  }
  .rank,
  .price {
    background: #0000004f;
  }

  .name {
    background: #0000004f;

    div {
      display: flex;
      justify-content: flex-start;
    }

    img {
      margin-right: 10px;
    }
    b {
      font-weight: 400;
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;

  .active {
    background: #fff;
    color: rgba(20, 38, 131, 1);
    font-weight: 700;
  }

  button {
    border: unset;
    outline: unset;
    background: rgba(20, 38, 131, 0.54);
    font-weight: 500;
    cursor: pointer;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
  }
}

@media (max-width: 1000px) {
  .mainbox {
    padding: 15px;
    table {
    }
  }
}
